extends ../../layout/default.pug 
block main 
  include ../../mixins/alert.pug
  +alert-success(messages.success)
  h1 Danh s√°ch s·∫£n ph·∫©m
  .card.mb-2 
    .card-header B·ªô l·ªçc t√¨m ki·∫øm
    .card-body 
       .row 
         .col-6
           include ../../mixins/filllter.status.pug 
           +fillterStatus(button)
         .col-6
           include ../../mixins/form.search.pug 
           +formSearch(keyword)
  include ../../mixins/sort.pug 
  +sort()
  .card.mb-2
    .card-header Danh s√°ch
    .card-body 
       .row.pb-2 
          .col-8
            include ../../mixins/change.multi.pug
            +changeMulti(`${prefixAdmin}/product/change-multi?_method=PATCH`)
          .col-4 
            a(href=`${prefixAdmin}/product/create` class="btn btn-outline-success float-end ") Th√™m m·ªõi

       table.table.table-hover.table-sm
         thead 
           tr  
             th 
               input(type="checkbox" name="checkall")
             th STT 
             th H√¨nh ·∫£nh
             th Ti√™u ƒë·ªÅ
             th Gi√°
             th V·ªã tr√≠
             th Tr·∫°ng th√°i
             th H√Ýnh ƒë·ªông 
         tbody 
           each Item,Index in product
            tr 
               td 
                  input(type="checkbox" name="id" value=Item.id multi-status)
               td #{Index+1}
               td 
                img(
               src=Item.thumbnail
               alt=Item.title
               width="100px"
               height="auto"
               )
               td #{Item.title}
               td #{Item.price}$
               td 
                input(
                 type="number"
                 name="position"
                 value=Item.position
                 min="1"
                 style="width: 60px"
                )
               td 
                 a(
                 href="javascript:;"
                 class=`badge text-bg-${Item.status=="active" ? "success" :"danger"}`
                 button-change-status
                 data-status=Item.status 
                 button-id=Item.id
                ) #{Item.status=="active" ? "Ho·∫°t ƒë·ªông" :"D·ª´ng ho·∫°t ƒë·ªông"}
               td
                 a(href=`${prefixAdmin}/product/detail/${Item.id}` class="btn btn-secondary btn-sm mx-1" button-change-activity="fix" btn-id=Item.id) Chi ti·∫øt
                 a(href=`${prefixAdmin}/product/edit/${Item.id}` class="btn btn-warning btn-sm" button-change-activity="fix" btn-id=Item.id) S·ª≠a 
                 button(class="btn btn-danger btn-sm ms-1" button-change-activity="delete" btn-id=Item.id) X√≥a

  include ../../mixins/pagination 
  +pagination(pagination)

  form(
     action=""
     method="POST"
     id="form-change-status"
     data-path=`${prefixAdmin}/product/change-status`
  ) 
  form(
     action=""
     method="POST"
     id="form-change-activity"
     data-path=`${prefixAdmin}/product/change-activity`
  ) 
  
  script(src="/admin/js/product.js") 