extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  +alert-success(messages.success)
  .container.mt-5
    .row
      //- Cột trái: Ảnh sản phẩm
      .col-md-4
        .product-image
          img.img-fluid(src=product.thumbnail alt=product.title)
          
      //- Cột phải: Thông tin & Form
      .col-md-6
        .product-info
          h1.title #{product.title}
          
          .category.gap-2.d-flex.align-items-center
            span Danh mục: 
            a(href=`/c/${product.Slug}`) Nước hoa
          .d-flex.align-items-center.mb-3.gap-1
             .price-new #{product.newPrice}$
             span -
             .price-old #{product.price}$

          .discount-box.gap-2.d-flex.align-items-center
            span.label Giảm tới
            span.badge-discount #{product.discountPercentage}%

          form.form-add-cart(action=`/cart/add/${product._id}` method="POST")
            input.quantity-input(type="number" name="quantity" value="1" min="1" max=product.stock)
            
            //- Cụm 2 nút bấm
            .button-group
              button.btn-add-cart(type="submit") Thêm vào giỏ
              button.btn-buy-now(type="button") Mua ngay

    //- Đường gạch ngang phân cách
    hr.my-5

    //- Phần Mô tả sản phẩm
    .row
      .col-12
        h2.desc-title Mô tả sản phẩm
        .desc-content
           //- Dùng !{} để in ra HTML thuần từ database
           p !{product.description}
  script.
    document.addEventListener('DOMContentLoaded', function () {
      const isLogin = !{JSON.stringify(isLogin)}

      const btn = document.querySelector('.button-group .btn-add-cart');

      if (btn) {
        btn.addEventListener('click', function (e) {
          if (!isLogin) {
            e.preventDefault();
            alert('Bạn cần đăng nhập!');
          }
        });
      }
    });