extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  h1.mb-4 Chi tiết danh mục sản phẩm

  +alert-error(5000)
  form( action=`${prefixAdmin}/category-product/create` method="POST" enctype='multipart/form-data' )
    // Tiêu đề danh mục
    .form-group.mb-3
      label(for="title") Tiêu đề
      input.form-control(
        type="text"
        id="title"
        name="title"
        value=category.title
        placeholder="Nhập tiêu đề danh mục"
        required 
        readonly
      )
    .mb-3 
      label.form-label Mô tả
      p(name="description" id='des' placeholder="Nhập mô tả sản phẩm" rows="3" ) !{category.description}
    // Danh mục cha
    .form-group.mb-3
      label(for="parent_id") Danh mục cha
      select.form-select(name="parent_id" id="parent_id" disabled)
        option(value="") -- Không có --
        if(categories && categories.length > 0)
          +select-tree(categories,1,category.parent_id)
    .form-group.mb-3(upload-image)
      label.mb-2(for="thumbnail" style='width:100%') Hình ảnh
      input.form-control-file(type="file" name="thumbnail" style='width:100%'  accept='image/*' upload-image-input disabled)
      img.image-preview(src=category.thumbnail  upload-image-preview)
      button.d-none.mx-2.position-relative(close-image-upload style="top:0" ) X

    // Vị trí
    .form-group.mb-3
      label(for="position") Vị trí
      input.form-control(
        type="number"
        id="position"
        name="position"
        placeholder="Tự động tăng"
        value=category.position
        disabled
      )

    // Trạng thái
    .form-group.mb-3
      label Trạng thái
      span.mx-3(
        class=`badge text-bg-${category.status=="active" ? "success" :"danger"}`
       ) #{category.status=="active" ? "Hoạt động" :"Dừng hoạt động"}

    // Submit
    a.btn.btn-primary(href=`${prefixAdmin}/category-product/edit/${category._id}`) Chỉnh sửa
